@import "./utils/vars";
@import "./components/header";
@import "./components/headline";
@import "./components/atuts";
@import "./components/whatWeDo";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal";
@import "./components/menu";

* {
  color: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font);
  min-width: 360px;
  max-width: 1600px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition-duration: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  transform: translateY(-50%) scale(2);
}
