// .clients {
//   width: 1200px;
//   background: $white;
//   margin: 0 auto;
//   padding: 94px 0;

//   &__title {
//     margin: 0 auto;
//     padding-bottom: 50px;
//     font-weight: 700;
//     font-size: 2.25rem;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
//   }

//   &__list {
//     display: flex;
//     justify-content: space-between;
//   }

//   &__icons-box {
//     width: 170px;
//     height: 92px;
//     border: 1px solid $socialIcon;
//     border-radius: 4px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//   }

//   &__icons {
//     fill: $socialIcon;
//   }

//   &__icons-box:hover {
//     border: 1px solid $blue;
//     border-radius: 4px;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }

//   &__icons-box:hover &__icons {
//     fill: $blue;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }
// }

//
// kopia
//

.clients {
  background: $white;
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 480px;

  &__title {
    margin: 0 auto;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__icons-box {
    width: 210px;
    height: 92px;
    border: 1px solid $socialIcon;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icons {
    fill: $socialIcon;
  }

  &__icons-box:hover {
    border: 1px solid $blue;
    border-radius: 4px;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }

  &__icons-box:hover &__icons {
    fill: $blue;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }
}
