// .footer {
//   background-color: $dark;

//   &__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 60px 0 60px 0;
//     color: $white;
//     display: flex;
//     gap: 70px;
//   }

//   &__grid {
//     display: flex;
//     flex-direction: column;
//   }

//   &__logo {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 1.625rem;
//     line-height: 1.19;
//     color: $blue;
//   }

//   &__header {
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 0.875rem;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $white;
//   }

//   &__highlight {
//     font-weight: 700;
//     color: $white;
//   }

//   &__address {
//     font-style: normal;
//     margin-top: 20px;
//     gap: 9px;
//     display: flex;
//     flex-direction: column;
//   }

//   &__link {
//     color: $bottomLink;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }

//   &__icons-box {
//     display: flex;
//     margin-top: 20px;
//     gap: 10px;
//   }

//   &__icons {
//     fill: $socialIcon;
//     background-color: $socialIconBg;
//     border-radius: 50%;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }

//   &__newsletter {
//     display: flex;
//     margin-top: 20px;
//     gap: 12px;
//   }

//   &__input {
//     padding-left: 16px;
//     background: transparent;
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     outline: none;
//   }

//   &__input::placeholder {
//     font-size: 1rem;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &__button {
//     display: flex;
//     padding-left: 42px;
//     align-items: center;
//     gap: 24px;
//     width: 200px;
//     height: 50px;
//     background-color: $blue;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border: none;
//     border-radius: 4px;
//     font-weight: 700;
//     font-size: 1rem;
//     line-height: 1.875;
//     letter-spacing: 0.06em;
//     cursor: pointer;
//   }

//   &__icons-link:hover &__icons,
//   &__icons-link:active &__icons,
//   &__icons-link:focus &__icons {
//     fill: $white;
//     background-color: $blue;
//     border-radius: 50%;
//   }

//   &__link:hover,
//   &__link:focus {
//     color: $blue;
//   }
// }

//
// kopia
//

.footer {
  background-color: $dark;

  &__container {
    max-width: 480px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  &__grid {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.19;
    color: $blue;
    text-align: center;
  }

  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  &__highlight {
    font-weight: 700;
    color: $white;
  }

  &__address {
    font-style: normal;
    margin-top: 20px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__link {
    color: $bottomLink;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }

  &__icons-box {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }

  &__icons {
    fill: $socialIcon;
    background-color: $socialIconBg;
    border-radius: 50%;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
  }

  &__input {
    padding-left: 16px;
    background: transparent;
    width: 90vw;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
  }

  &__input::placeholder {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    display: flex;
    padding-left: 42px;
    align-items: center;
    gap: 24px;
    width: 200px;
    height: 50px;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
  }

  &__icons-link:hover &__icons,
  &__icons-link:active &__icons,
  &__icons-link:focus &__icons {
    fill: $white;
    background-color: $blue;
    border-radius: 50%;
  }

  &__link:hover,
  &__link:focus {
    color: $blue;
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .footer__container {
    max-width: 768px;
  }
  .footer__raw {
    display: flex;
    gap: 144px;
  }
  .footer__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    flex-direction: row;
    align-items: flex-start;
    gap: 78px;
  }
  .footer__newsletter {
    flex-direction: row;
  }
  .footer__input {
    width: 358px;
  }
  .footer__raw {
    display: flex;
    gap: 70px;
  }
  .footer__address {
    align-items: flex-start;
  }
  .footer__logo {
    text-align: left;
  }
  .footer__header {
    text-align: left;
  }
}
