// .header {
//   border-bottom: 1px solid $border;
//   background: $white;

//   &__navi {
//     width: 1200px;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   &__logo {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 1.625rem;
//     line-height: 1.19;
//     color: $blue;
//   }

//   &__logo--black {
//     font-weight: 700;
//     color: $black;
//   }

//   &__menu {
//     margin: 30px 300px 30px 0;
//     width: 254px;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//   }

//   &__menu-item {
//     font-weight: 500;
//     font-size: 0.875rem;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     align-items: center;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }

//   &__menu-item--is-active {
//     position: relative;
//     color: $blue;
//   }

//   &__menu-item--is-active::after {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     bottom: -28px;
//     border-radius: 2px;
//     background-color: $blue;
//   }

//   &__menu-item:hover::after {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     bottom: -28px;
//     border-radius: 2px;
//     background-color: $blue;
//   }

//   &__link {
//     display: flex;
//     justify-content: space-between;
//     gap: 30px;
//     align-items: center;
//   }

//   &__link-item {
//     display: flex;
//     align-items: center;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//     fill: $grey;
//   }

//   &__link-text {
//     color: $grey;
//     font-weight: 500;
//     font-size: 0.875rem;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
//   }

//   &__icon {
//     margin-right: 10px;
//   }

//   &__menu-item:focus,
//   &__menu-item:hover,
//   &__link-item:hover,
//   &__link-item:focus,
//   &__link-item:hover &__link-text,
//   &__link-item:focus &__link-text {
//     color: $blue;
//     fill: $blue;
//   }
// }

// kopia

.header {
  border-bottom: 1px solid $border;
  background: $white;
  max-width: 480px;
  margin: 0 auto;

  &__navi {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.19;
    color: $blue;
  }

  &__logo--black {
    font-weight: 700;
    color: $black;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: $black;
    :hover {
      fill: $blue;
    }
  }

  &__button {
    fill: $black;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu {
    margin: 30px 300px 30px 0;
    width: 254px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__menu-item {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }

  &__menu-item--is-active {
    position: relative;
    color: $blue;
  }

  &__menu-item--is-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -28px;
    border-radius: 2px;
    background-color: $blue;
  }

  &__menu-item:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -28px;
    border-radius: 2px;
    background-color: $blue;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  &__link-item {
    display: flex;
    align-items: center;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
    fill: $grey;
  }

  &__link-text {
    color: $grey;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  }

  &__icon {
    margin-right: 10px;
  }

  &__menu-item:focus,
  &__menu-item:hover,
  &__link-item:hover,
  &__link-item:focus,
  &__link-item:hover &__link-text,
  &__link-item:focus &__link-text {
    color: $blue;
    fill: $blue;
  }
}

@media (max-width: 1200px) {
  .header__menu {
    display: none;
  }
  .header__link {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__button {
    display: none;
  }
}

@media (min-width: 480px) {
  .header {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 1200px;
  }
}
