.wwd {
  width: 1200px;
  background: $white;
  margin: 0 auto;
  padding: 94px 15px 94px 15px;

  &__title {
    margin: 0 auto;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: block;
    width: 370px;
    height: 294px;
  }

  &__item--overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: $wydOverlay;
    bottom: 0;
    left: 0;

    justify-content: center;
    align-items: center;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.14;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (max-width: 1199px) {
  .wwd {
    display: none;
  }
}
