$black: rgb(0, 0, 0);
$font: rgb(33, 33, 33);
$dark: rgb(47, 48, 58);
$white: rgb(255, 255, 255);
$blue: rgb(33, 150, 243);
$grey: rgb(117, 117, 117);
$shadow: rgba(0, 0, 0, 0.15);
$background: rgb(229, 229, 229);
$border: rgb(238, 238, 238);
$ImgOverlay: rgba(47, 48, 58, 0.4);
$iconbg: rgb(245, 244, 250);
$socialIcon: rgb(175, 177, 184);
$socialIconBg: rgba(255, 255, 255, 0.1);
$bottomLink: rgba(255, 255, 255, 0.6);
$overlaybg: rgba(33, 150, 243, 0.9);
$wydOverlay: rgba(47, 48, 58, 0.8);
